<div class="container">
  <div class="wrapper" [@init]="init ? 'start' : 'end'">
    <header>
      <h1><img src="assets/images/logo.png"></h1>
    </header>
    <main>
      <app-login-form *ngIf="form === 'login'"></app-login-form>
      <app-register-form *ngIf="form === 'register'"></app-register-form>
    </main>
  </div>

  <footer>
    <nav>
      <ul class="legal-links">
        <li><a href="https://www.seip.io/legal">Legal Notice</a></li>
        <li><a href="https://www.seip.io/privacy">Privacy</a></li>
      </ul>
    </nav>
    <small><a href="https://www.seip.io">Copyright &copy; 2022 Christian Seip</a></small>
  </footer>
</div>
