.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-left: 8px;
  padding-right: 8px;
  background: url('../../../assets/images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: calc(100vh - 83px);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(38, 3, 63);
  color: #c9c9c9;
  max-width: 400px;
  padding: 16px;
  border-radius: 4px;
}
