<div class="container">
  <header>
    <h2 [textContent]="chatname"></h2>
    <div>
      <button class="user-list-switch" mat-icon-button aria-label="Switch user list visibility.">
        <mat-icon>person</mat-icon>
      </button>
      <button mat-icon-button aria-label="Logout" (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
      </button>
    </div>
  </header>
  <main>
    <div class="chat-container">
        <ul class="chat-messages">
          <li *ngFor="let m of messages" class="{{m.getMessageClass()}}">{{m.getMessage()}}</li>
        </ul>
        <ul class="user-list">
          <li *ngFor="let u of users">{{u.username}} ({{u.getAge()}})</li>
        </ul>
    </div>
    <div class="input-line">
      <mat-form-field appearance="outline">
        <mat-label>Message</mat-label>
        <div class="input-wrapper">
          <input matInput placeholder="Type your message..." autocomplete="off" [(ngModel)]="inputMessage" (keydown.enter)="sendMessage()">
          <button mat-button [disabled]="!isValidMessage()" (click)="sendMessage()">
            <mat-icon matSuffix>send</mat-icon>
          </button>
        </div>
      </mat-form-field>
    </div>
  </main>
</div>
